.App {
  text-align: center;
  /* background-color: #202020;
  color: rgb(241, 241, 241); */
}

.dropdown-menu {
  background-color: #202020 !important;
}
.dropdown-menu > a {
  color: rgb(241, 241, 241) !important;
}
.dropdown-menu > a:hover {
  color: #6c757d !important;
  background-color: inherit !important;
}

/* ACC: Art Content Class */
/* START */
.acc {
  height: 100%;
}
.acc-hover:hover > img,
.acc-hover:active > img {
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

.acc-hover:hover > .acc-description,
.acc-hover:active > .acc-description {
  display: block !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 100;
  color: #fff;
}
.acc-description {
  display: none;
}
/* END */

.border-theme {
  border: 1px solid #6c757d;
}

#up-button {
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  border: 1px solid #6c757d;
  padding: 0.75rem 1rem;
  z-index: 1000;
}

nav a {
  text-decoration: none !important;
}